@charset 'utf-8';
/*-----------------------------------------------
Basic reset
-----------------------------------------------*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;
  height: 100%;
}
a {
  text-decoration: none;
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* Specific to the page content */

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}
body {
  margin: 0;
  padding-top: 68px;
  width: 100%;
  min-height: 100%;
  line-height: 1.75;
  color: #555;
}
h1,
h2,
h3,
strong {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 0;
}
strong > code {
  text-transform: lowercase;
}
p,
li,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
p,
li {
  margin: 0 0 1em;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 32px;
  width: 100%;
  height: 72px;
  background: #333333;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 5;
}
.top-bar-img {
  display: block;
}
.top-bar-text {
  display: none;
}
#navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 280px;
  padding: 68px 0 40px;
  border-right: 1px solid rgb(240, 240, 240);
  background: #fff;
  font-size: 90%;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}
#navbar.navlist-open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#navbar ul {
  margin: 0;
  padding: 12px 0 0;
  list-style: none;
}
#navbar li {
  margin-bottom: 0;
}
#navbar h1 {
  margin: 0;
  padding: 40px 0 0 40px;
  font-size: 120%;
  font-weight: 700;
}
#navbar a {
  display: block;
  line-height: 18px;
  padding: 12px 48px 12px 40px;
  text-align: left;
  width: 100%;
  color: #555;
  -webkit-transition: background 0.4s linear;
  transition: background 0.4s linear;
}
.active-link {
  font-weight: 700;
}
#navbar a:visited,
#navbar a:focus,
#navbar a:hover {
  background: rgba(0, 0, 0, 0.04);
}

#navbar a:active {
  background: rgba(0, 0, 0, 0.2);
}
h2 {
  margin-top: 0;
}
#main-doc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
#main-doc-container > section:first-child h2 {
  font-size: 48px;
}
#main-doc-container > section:first-child {
  padding-top: 240px;
  margin-top: -156px;
  padding-bottom: 24px;
}
#main-doc-container > section:not(:first-child) {
  padding-top: 166px;
  margin-top: -134px;
  padding-bottom: 24px;
}
#main-doc a {
  color: #333;
  font-weight: 600;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}
#main-doc a:hover,
#main-doc a:focus {
  color: rgb(19, 19, 19);
  border-bottom: 1px solid rgb(19, 19, 19);
}
hr {
  padding: 0;
  border: none;
}
hr:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  max-width: 100%;
  width: 100%;
  border: 1px solid rgb(240, 240, 240);
}
pre {
  overflow-x: auto;
}
code,
pre {
  background: rgb(240, 240, 240);
}
pre > code {
  padding: 2px 4px;
  font-size: 120%;
}
.save-button-name {
  font-size: 120%;
  line-height: 0.25;
  text-transform: none;
}
.node-module-list code,
#use p > code {
  font-size: 125%;
}
#use p > code {
  background: none;
}
pre {
  padding: 16px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.5);
  border-left: 2px solid rgb(129, 129, 129);
}
ul code {
  background: none;
}
.node-npm-commands {
  list-style: none;
}
/* Open-close navigation list */
button span {
  display: block;
}

.open-button {
  margin-left: -4px;
  padding-left: 0;
  padding-right: 0;
  line-height: 0;
  text-align: center;
  width: 44px;
  height: 44px;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  pointer-events: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.open-button:focus,
.open-button:hover {
  -webkit-transform: scale3d(0.88, 0.88, 0.88);
  transform: scale3d(0.88, 0.88, 0.88);
  color: rgba(240, 240, 240, 1);
}
.bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bars {
  width: 36px;
  height: 3px;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bar1 {
  top: -11.5px;
}
.bar3 {
  top: 8.5px;
}
.open-button.open-list .bar1 {
  top: 0;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.open-button.open-list .bar2 {
  background-color: transparent;
}

.open-button.open-list .bar3 {
  top: 0;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* Overlay below navigation list*/

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.9);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  pointer-events: none;
}
.prevent-scrolling {
  position: fixed;
  overflow-y: scroll;
}
.overlay-visible {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

/*--------------------------------------------------------------
Media queries
--------------------------------------------------------------*/

@media screen and (min-width: 799px) {
  #main-doc-container > section {
    max-width: 680px;
  }
}
@media screen and (min-width: 1180px) {
  html {
    font-size: 120%;
  }
  #main-doc > section:first-child h2 {
    font-size: 56px;
  }
  #main-doc-container {
    padding-left: 200px;
    padding-right: 0;
  }
  #navbar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .top-bar {
    padding-left: 40px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .open-button {
    display: none;
  }
  .top-bar-text {
    display: block;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 14px;
  }
}
@media screen and (min-width: 1321px) {
  #main-doc-container {
    padding-left: 80px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1555px) {
  #main-doc-container {
    padding-left: 440px;
    padding-right: 440px;
  }
}
@media screen and (max-width: 799px) {
  #main-doc-container {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
  #main-doc-container > section:first-child h2 {
    font-size: 40px;
  }
  pre {
    max-width: 75vw;
  }
}
